//- Base Layout created so that it can be used for other website creation directly(layout.pug)
doctype html
html
  head
    title #{title}
    block scripts
    block style 

  body
    block content
    block footer
      .center.footer
        | Copyright &copy; www.indiacycles.com. All rights reserved!
